# R package build files
*.tar.gz
*.Rcheck/
*.Rhistory
*.RData
*.Rproj.user/
*.Ruserdata

# Output folders from devtools/build, roxygen, or pkgdown
docs/
man/*.Rd~      # temporary Rd files
NAMESPACE~     # backup NAMESPACE
data/*.rda     # if you want to ignore large datasets, optional
data/*.RData   # optional
data-raw 

# OS-specific
.DS_Store
Thumbs.db

# IDE/project files
.Rproj.user/
.Rhistory
.RData

# Logs
*.log

# Macros/backup files
*~